body{
    background-color: #f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75vh;
}

.border{
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 0 10px black;
    padding: 20px;
    width: 300px;
}

form{
    display: flex;
    flex-direction: column;
}

input{
    padding: 5px;
    border: 1px solid rgb(147, 146, 146);
    border-radius: 6px;

}

#btn{
    padding: 5px;
    background-color: rgb(22, 190, 22);
    border: none;
    color: white;
    
}
#btn:hover{
    background-color: rgb(18, 18, 125);
}